.friendMessage {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px 0 17px 0px;
}

.friendImageAndText {
    display: flex;
    gap: 12px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 13px 0px 13px;

    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1),0px 5px 20px 0px rgba(29, 33, 38, 0.03);
    background: rgb(245, 247, 251);
}

.friendText:after {

}

.friendName, .friendMessageText, .friendTime {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    text-align: left;
}

.friendName {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.friendMessageText {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.friendTime {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
}
