.button {
    padding: 5px 24px;
    width: 132px;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    border: none;
}

.disabled {
    color: rgb(0, 46, 92);
    border-radius: 3px;
    background: #004D99;
    opacity: 0.5;

}

.secondary {
    box-sizing: border-box;
    border: 1px solid #0066CC;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #0066CC;

    width: 176px;
}

.default {
    border-radius: 3px;
    background: #0066CC;
}

.red {
    border-radius: 3px;

    /* Danger/100 */
    background: #CC1439;
}

.default:hover {
    background: #0080FF;
}

.red:hover {
    background-color: #FF1A47;
}

.secondary:hover {
    background-color: rgb(229, 240, 250);
}


.default:active {
    background-color: #0059B3;
}

.secondary:active {
    background-color: #C9E5FF;
}

.red:active {
    background: #B31232;
}

.button:disabled {
    border-radius: 3px;
    background: rgb(0, 102, 204);
    opacity: 0.4;

    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
}
